In [61]:
import pandas as pd
import numpy as np
from apyori import apriori
from mlxtend.frequent_patterns import apriori,association_rules

In [62]:
df = pd.read_csv("Prac#10-GroceryStore.csv",names = ['products'], sep = ', ')

df.head()

C:\Users\yinia\AppData\Local\Temp\ipykernel_123044\1783359404.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("Prac#10-GroceryStore.csv",names = ['products'], sep = ', ')

                          products
0             "MILK,BREAD,BISCUIT"
1  "BREAD,MILK,BISCUIT,CORNFLAKES"
2            "BREAD,TEA,BOURNVITA"
3           "JAM,MAGGI,BREAD,MILK"
4              "MAGGI,TEA,BISCUIT"

In [63]:
df.shape
data = list(df['products'].apply(lambda x:x.split(",") ))
data

[['"MILK', 'BREAD', 'BISCUIT"'],
 ['"BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES"'],
 ['"BREAD', 'TEA', 'BOURNVITA"'],
 ['"JAM', 'MAGGI', 'BREAD', 'MILK"'],
 ['"MAGGI', 'TEA', 'BISCUIT"'],
 ['"BREAD', 'TEA', 'BOURNVITA"'],
 ['"MAGGI', 'TEA', 'CORNFLAKES"'],
 ['"MAGGI', 'BREAD', 'TEA', 'BISCUIT"'],
 ['"JAM', 'MAGGI', 'BREAD', 'TEA"'],
 ['"BREAD', 'MILK"'],
 ['"COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES"'],
 ['"COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES"'],
 ['"COFFEE', 'SUGER', 'BOURNVITA"'],
 ['"BREAD', 'COFFEE', 'COCK"'],
 ['"BREAD', 'SUGER', 'BISCUIT"'],
 ['"COFFEE', 'SUGER', 'CORNFLAKES"'],
 ['"BREAD', 'SUGER', 'BOURNVITA"'],
 ['"BREAD', 'COFFEE', 'SUGER"'],
 ['"BREAD', 'COFFEE', 'SUGER"'],
 ['"TEA', 'MILK', 'COFFEE', 'CORNFLAKES"']]

In [64]:
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(data).transform(data)
df = pd.DataFrame(a_data,columns=a.columns_)
df = df.replace(False,0)
df

,"""BREAD","""COFFEE","""JAM","""MAGGI","""MILK","""TEA",BISCUIT,"BISCUIT""","BOURNVITA""",BREAD,...,"COCK""",COFFEE,"CORNFLAKES""",MAGGI,MILK,"MILK""",SUGER,"SUGER""",TEA,"TEA"""
0,0,0,0,0,True,0,0,True,0,True,...,0,0,0,0,0,0,0,0,0,0
1,True,0,0,0,0,0,True,0,0,0,...,0,0,True,0,True,0,0,0,0,0
2,True,0,0,0,0,0,0,0,True,0,...,0,0,0,0,0,0,0,0,True,0
3,0,0,True,0,0,0,0,0,0,True,...,0,0,0,True,0,True,0,0,0,0
4,0,0,0,True,0,0,0,True,0,0,...,0,0,0,0,0,0,0,0,True,0
5,True,0,0,0,0,0,0,0,True,0,...,0,0,0,0,0,0,0,0,True,0
6,0,0,0,True,0,0,0,0,0,0,...,0,0,True,0,0,0,0,0,True,0
7,0,0,0,True,0,0,0,True,0,True,...,0,0,0,0,0,0,0,0,True,0
8,0,0,True,0,0,0,0,0,0,True,...,0,0,0,True,0,0,0,0,0,True
9,True,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,True,0,0,0,0
10,0,True,0,0,0,0,True,0,0,0,...,0,0,True,0,0,0,0,0,0,0
11,0,True,0,0,0,0,True,0,0,0,...,0,0,True,0,0,0,0,0,0,0
12,0,True,0,0,0,0,0,0,True,0,...,0,0,0,0,0,0,True,0,0,0
13,True,0,0,0,0,0,0,0,0,0,...,True,True,0,0,0,0,0,0,0,0
14,True,0,0,0,0,0,0,True,0,0,...,0,0,0,0,0,0,True,0,0,0
15,0,True,0,0,0,0,0,0,0,0,...,0,0,True,0,0,0,True,0,0,0
16,True,0,0,0,0,0,0,0,True,0,...,0,0,0,0,0,0,True,0,0,0
17,True,0,0,0,0,0,0,0,0,0,...,0,True,0,0,0,0,0,True,0,0
18,True,0,0,0,0,0,0,0,0,0,...,0,True,0,0,0,0,0,True,0,0
19,0,0,0,0,0,True,0,0,0,0,...,0,True,True,0,True,0,0,0,0,0

In [65]:
df = apriori(df, min_support = 0.2, use_colnames = True, verbose = 1)
df

Processing 72 combinations | Sampling itemset size 2

C:\Users\yinia\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

  support       itemsets
0    0.45       ("BREAD)
1     0.2      ("COFFEE)
2     0.2     (BISCUIT")
3     0.2   (BOURNVITA")
4     0.2        (BREAD)
5     0.2       (COFFEE)
6     0.3  (CORNFLAKES")
7     0.2        (SUGER)
8    0.25          (TEA)

In [66]:
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.6)
df_ar

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []